<mat-card>
    <mat-card-content>
        <form  (submit)="onPostData(postForm)" #postForm="ngForm">
            <mat-form-field>
                <mat-label>Post title:</mat-label>
                <input type="text" matInput name="title" ngModel required >
            </mat-form-field>
            <mat-form-field>
                <span>Post content(write below):</span>
            
                <textarea matInput name="content" rows="3" ngModel required>
                </textarea>
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit">Save Post</button>
        </form>
    </mat-card-content>
</mat-card>

<app-postlist></app-postlist>